{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm, { 'attr' : { 'class': 'flex justify-center pt-36 font-sans' } }) }}
        {{ form_row(registrationForm.email, { 'attr' : { 'class': 'm-5 border hover:border-pink-700' } }) }}
        {{ form_row(registrationForm.login, { 'attr' : { 'class': 'm-5 border hover:border-pink-700' } }) }}
        {{ form_row(registrationForm.plainPassword, { 'attr' : { 'class': 'm-5 border hover:border-pink-700' }, label: 'Password' }) }}
        {{ form_row(registrationForm.agreeTerms, { 'attr' : { 'class': 'm-5' } }) }}

        <button type="submit" class="text-pink-700">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
