{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}



    <div class="font-sans">
    {# {{ dump() }} #}
    {{ form_start(updateForm, { 'attr' : { 'class': 'flex justify-center pt-36' } }) }}
        {{ form_row(updateForm.login, { 'attr' : { 'class': 'm-5 border' } }) }}
        {{ form_row(updateForm.plainPassword, { 'attr' : { 'class': 'm-5 border' }, label: 'Password' })}}
        <button type="submit" class="text-pink-700">update</button>
    {{ form_end(updateForm) }}
    </div> 

{% endblock %}