{% extends 'base.html.twig' %}

{% block title %}View article{% endblock %}

{% block body %}

{# {{dump()}} #}

<div class="p-12 border-b font-sans">
    <h1 class="font-semibold text-2xl p-5">{{article.Title}}</h1>
    <p>{{article.Content}}</p>
    <p class="text-xs text-end">written by {{article.Author.login}}</p>
</div>
<div class="border-b p-3">
    {% for comment in article.Comments %}
        <p>{{comment.Content}}</p>
        <p class="text-xs">written by {{comment.User.login}}</p>
    {% endfor %}
</div>
<div class="flex">
    {{ form_start(addComment,  { 'attr' : { 'class': 'flex flex-col justify-center m-auto mt-10' } }) }}
        {{ form_row(addComment.Content, { 'attr' : { 'class': 'flex flex-col justify-center p-5 border hover:border-pink-700' }, label: 'Tap your comment:'})}}
        <button type="submit" class="text-pink-700">Add</button>
    {{ form_end(addComment) }}
</div>
{% endblock %}