{% extends 'base.html.twig' %}

{% block title %}View article{% endblock %}

{% block body %}

{{dump()}}

    <h1>{{article.Title}}</h1>
    <p>{{article.Content}}</p>
    <p>{{article.Author.login}}</p>
    {% for comment in article.Comments %}
        <p>{{comment.Content}}</p>
        <p>{{comment.User.login}}</p>
    {% endfor %}

        {{ form_start(addComment) }}
            {{ form_row(addComment.Content, {
                label: 'Tap your comment'
            })}}
            <button type="submit" class="btn">Add</button>
        {{ form_end(addComment) }}
{% endblock %}