{% extends 'base.html.twig' %}

{% block title %}View articles{% endblock %}

{% block body %}

{# {{dump()}} #}
    {% for article in articles %}
        <a href="{{path('app_singlearticle', {id:article.id})}}"><h1>{{article.Title}}</h1></a>
        <p>{{article.Content}}</p>
        <p>{{article.Author.login}}</p>
    {% endfor %}
    
{% endblock %}
